function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push static 1
pop static 2
push constant 0
pop static 3
push static 1
push constant 0
add
push static 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push static 0
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 7
push static 3
pop local 0
push static 2
pop local 1
push argument 0
push constant 2
add
pop local 2
label WHILE0
push local 1
push static 3
eq
not
push static 0
push local 1
push constant 1
add
add
pop pointer 1
push that 0
push local 2
lt
and
not
if-goto WHILE_END0
push local 1
pop local 0
push static 0
push local 1
add
pop pointer 1
push that 0
pop local 1
goto WHILE0
label WHILE_END0
push local 1
push static 3
eq
not
if-goto ELSE1
push constant 1
call Sys.error 1
pop temp 0
goto IF_END1
label ELSE1
label IF_END1
push local 1
push constant 2
add
pop local 3
push static 0
push local 1
push constant 1
add
add
pop pointer 1
push that 0
push local 2
sub
pop local 4
push static 0
push local 1
add
pop pointer 1
push that 0
pop local 5
push local 1
push local 2
add
pop local 6
push local 1
push static 2
eq
not
if-goto ELSE2
push local 6
pop static 2
goto IF_END2
label ELSE2
label IF_END2
push local 0
push static 3
eq
not
not
if-goto ELSE3
push static 0
push local 0
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END3
label ELSE3
label IF_END3
push static 0
push local 6
add
push local 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push local 6
push constant 1
add
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
return
function Memory.deAlloc 0
push argument 0
push constant 2
neg
add
push static 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push constant 2
sub
pop static 2
push constant 0
return
